

npm-debug.log
public/vids

# Laravel 4 specific
bootstrap/compiled.php


# Laravel 5 & Lumen specific
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
