




* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
	color: #484848;
}

a {
	color: #484848;
}


.featured2 {
    text-align: center;
    padding: 0px;
    color: #333;
}

#fp .col-md-4 {
    padding: 0px;
}

.pwr {
    position: relative;
    height: 280px;
    width: 100%;
    color: #fff;
}

.pwr::after { cursor: pointer; content: ""; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; display: block; transition: all 500ms ease 0s; background: rgba(1, 3, 6, 0.2) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%) repeat scroll 0% 0%; }



.title { cursor: pointer; z-index: 1; text-shadow: 0px 0px 4px rgb(0, 0, 0); margin-top: -30px; padding: 0px; position: absolute; text-align: center; top: 50%; width: 100%; }
    
.title-s { color: rgba(255, 255, 255, 0.8); font-weight: 500; font-size: 1.6em; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }



.as {
	background-color: #eff3f9;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding-top: 10px;
	padding-bottom: 15px;
}

#whyus {
	background-color: #eaf4f9;
	padding-top: 50px;
}

.content-wrapper {
	display: none;
}

.load-text {
	color: #484848 !important;
	text-align: center;
	position: relative;
	left: -44px;
	top: 55px;
	font-family: 'Lato', sans-serif;
	font-weight: 800;
}

.loader-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: #e8eaef;
	width: 100%;
	height: 100%;
}

.t {
	position: relative;
  	top: 48%;
  	margin-left: 49%;
  	margin-top: -32px; /* -1 * image height / 2 */
}


.brand {
	font-size: 40px;
	letter-spacing: 3px;
	font-family: 'Kalam', cursive;
	padding-top: 20px;
}

.home-nav {
	padding-left: 50px;
	padding-top: 0;
	margin: 0;
	height: 80px;
	background-color: rgba(0,0,0,0.3);
	z-index: 200;

}

.v-header {
	align-items: center;
	height: 100vh;
	width: 100%;
}

.v-container {
	margin: auto;
	box-sizing: border-box;
}
.v-container a {
	color: #fff !important;
}


.navbar-toggler {
	color: #fff;
	z-index: 10;
}

.full-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.full-screen video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
}

.header-text {
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.8em;
	z-index: 30;
	position: relative;
	top: 180px;
}

.f {
	font-size: 4.3em;
	font-weight: 700;
	font-family: 'Kalam', cursive;
	
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.2);
	z-index: 10;
	height: 100%;
	width: 100%;
}

.nav-margin {
	margin-left: 50px;
}

.lead {
	font-size: 1.5em;
	margin-bottom: 60px;
	font-family: cursive;
	color: #fff;
}

ul.navbar-nav li.nav-item a.nav-link {
	padding-top: 20px;
	letter-spacing: 1px;
	color: rgba(184, 187, 193,0.8) !important;
	font-size: 16px;
	margin-right: 22px;
	transition: color 0.5s;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
	color: #fff !important;
}

a.explore {
	position: relative;
	top: 40px;
	text-align: center;
	padding: 12px 26px;
	border: 1px solid #fff;
	font-size: 18px;
	font-family: "Futura PT W02 Light",Futura,"Trebuchet MS",Arial,sans-serif;
}

@media only screen and (max-width: 960px)  {

	.header-text {
		position: relative;
		margin-top: -180px;
		font-size: 12px;
	}

	.home-nav {
		background-color: transparent;
	}
}

.social-footer i{
	font-size: 25px;
	color: #fff;
	margin-left: 10px;
}


/** footer */


footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif;color:#fff;  }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:circle;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
}




.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}


.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px; background-color: #000}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}




// featured


.card-img-top {
	height: 220px;
	width: 100%;
}

img.card-img-top {
	height: 220px;
	width: 100%;
}


.duration {
	position: absolute;
	top: 15px;
	left: 15px;
	height: 48px;
	width: 48px;
	background-color: #fff;
	border-radius: 100%;
}

.num_dur {
	font-size: 24px;
	position: relative;
	top: -2px;
}

.dur {
	font-size: 12px;
	position: relative;
	top: -12px;
}

a.btn-view-adv {
	border: 1px solid #41B7C4;
	background-color: #41B7C4;
	color: #fff !important;
	float: right;
	
}

a:hover {
	text-decoration: none;
}

.featured {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 0px;
	margin-top: -80px;
}

.f-items {
	overflow: hidden;
	height: 450px;
	width: 3000px;
	max-width: 3000px;
	z-index: 20;
}

.featured div.col-md-4 {
	display: inline-block;
	flex-basis: 12%;
}

.featured .card-body {
	margin-top: 10px;
	height: 140px;
}

.featured .card {
	width: 100%;
	margin: 0px;
	display: inline-block;
}

.featured .prev i, .next i{
	font-size: 80px;
	font-weight: 800;
	color: #eaf4f9;
}

div.prev {
	float: left;
	position: relative;
	top: 200px;
	z-index: 200;
	cursor: pointer;
} 

div.next {
	float: right;
	position: relative;
	top: 200px;
	z-index: 100;
	cursor: pointer;
} 

.view-all {
	margin-top: 150px;
	font-size: 20px;
	margin-right: 50px;
}


.featured-header {
	margin-top: 80px;
	margin-bottom: 0px;
	font-size: 38px;
}



.grid {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0;
}

.grid-item {
    width: 460px;
    margin: 6px;
    position: relative;
}

.grid-item--width2  { 
    height: 280px; 
    margin: 5px;
    position: relative;
}

.adventures {
	max-width: 1600px;
}

.grid-item img{
  width: 100%
  
}

ul {
	list-style: none;
}

.adventures img {
	width: 100%;
}
.g-w {
	position: relative;
	display: block;
	width: 100%;
}

.overlay-2 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 10;
}

.gal {
	
	
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	  
	
	}	
	.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
		.gal {
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	
	}
		
	}
/*** ####################
	 ###    LOGIN   #####
	 ####################
*/


.form-signin {
  min-width: 400px;
  display:block;
  border: 1px solid rgba(72,72,72,0.2);
  border-radius:2px;
  background-color: #fff;
  padding: 0px;
  height: 100%;
}
.main{
	padding: 35px;
	height: 100%;
	margin-top: -30px;
}

.social-box{
  margin: 0 auto;
  padding: 38px;
}

.social-box i {
	color: #fff;
}
.social-box a{
  font-size:19px;
  padding:8px;
}

.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
  border: 1px solid #A8B8C4;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 0px;
  
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-radius: 0px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0px;
}
.mg-btm{
	margin-bottom: 0px;
}

.gbtn {
	border-radius: 0px !important;
	background-color: #db4437;
	border-color: #db4437;
	color: #fff;
}

.gbtn:hover {
	background-color: #d34836;
	border-color: #d34836;
	color: #fff;
}

.fbtn {
	border-radius: 0px !important;
	background-color: #3b5998;
	border-color: #3b5998;
	margin-bottom: 12px;
	color: #fff;
}

button.mybtn1 {
	margin-top: 5px;
	color: #fff;
	background-color: #41B7C4;
	border-color: #41B7C4;
	cursor: pointer;
	border-radius: 0px !important;
}
.jconfirm-box i {
	font-size: 90px !important;
	color: #4286f4 !important;
}
.text-red {
	color: #a31818;
	font-size: 13px;
}
#errorm {
	color: #a31818;
	padding-bottom: 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
}

#errorm a {
	color: #138246;
}

.error-box {
	position: relative;
	top: -5px;
	margin-bottom: 3px;
}
#loading {
  display: inline;
  position: relative;
  width: 100%;
  height: 100%;
}
#loading img{
  margin-top: -2px;
}

.fbtn:hover {
	color: #fff;
}

.social-box i {
	font-weight: 800;
}

.pad {
	width: 900px;
}
.r { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; opacity: 0.4;} 
.r span { background:#fff; padding:0 10px; font-weight: 400;}

div.form-icon {
	position: absolute;
	right: 35px;
	z-index: 10;
	margin-top: 10px;
}

#register-form select {
	width: 100%;
}



#register-form select {
	margin-top: 10px;
	outline: none !important;
	-webkit-appearance:none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}



#errorm {
	color: #a31818;
	padding-bottom: 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
}

#errorm a {
	color: #138246;
}

#register-form .col{
	padding-right: 18px;
	padding-left: 18px;

}

.reg-select {
	height: 40px;
	line-height: 1.25;
	color: #464a4c;
	background-color: #fff;
	width: 100%;
	padding: 10px;
	 background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 100px center;
}
.reg-select2 {
	height: 36px;
	line-height: 1.25;
	color: #464a4c;
	background-color: #fff;
	width: 100%;
	padding: 5px;
	font-size: 14px !important;
	border: 1px solid #453E3D;
}

.reg-select:focus {
	border: 1px solid #41B7C4;
}

select::-ms-expand {
    display: none;
}


select option {
	line-height: 20px;
	padding: 20px;
	font-weight: 500;
}

div.cfg {
	width: 100%;
	margin-top: -10px;
	margin-bottom: -20px;
	padding: 0px;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
}
a.login-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 15px
}

a:hover {
	text-decoration: none;
}
div.cfg a {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
	color: #00305B;
}

span.register-bday {
	font-size: 16px;
	font-weight: 500;
	padding: 0px;
}

#select-month {
	border-radius: 0px;
}
/*** ####################
	 ###    //LOGIN   ###
	 ####################
*/
#register-form .modal-content{
	background: none;
	border: none;
	padding: 0px;
	margin: 0px;
}
#login-form div.modal-body{
	background: none;
	border: none;
	padding: 0px;
	margin: 0px;
}
#register-form div.modal-body{
	background: none;
	border: none;
	padding: 0px;
	margin: 0px;
}