@font-face {
font-family: Hanken;
src: url(../fonts/Hanken-Light.ttf);
}

@font-face {
font-family: sourceb;
src: url(../fonts/SourceSansPro-Bold.otf);
}

@font-face {
font-family: source;
src: url(../fonts/SourceSansPro-Regular.otf);
}


@font-face {
font-family: sourceel;
src: url(../fonts/SourceSansPro-ExtraLight.otf);
}


@font-face {
font-family: sourcel;
src: url(../fonts/SourceSansPro-Light.otf);
}

@font-face {
font-family: sourcesb;
src: url(../fonts/SourceSansPro-Semibold.otf);
}